.weather-cards{
    display: flex;
  gap: 10px;
  margin-top: 20px; 
}
.weather-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    text-align: center; 
}