  
.weather-cards{
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap; 
  justify-content: center;
}
.weather-card {
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: rgb(245, 243, 240);
    padding: 10px;
    width: 150px;
    text-align: center; 
}